body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #1c1c3c, #764ba2);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #f4f4f4;
  text-align: center;
}

#game-container {
  background: #2e2e3e;
  border-radius: 15px;
  padding: 20px;
  width: 90%;
  max-width: 700px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

h1 {
  color: #f4a261;
  font-size: 2rem;
  margin-bottom: 10px;
  animation: glow 1.5s infinite;
}

@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 5px #f4a261, 0 0 10px #e76f51;
  }
  50% {
    text-shadow: 0 0 10px #f4a261, 0 0 20px #e76f51;
  }
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(to right, #e76f51, #f4a261);
  transition: all 0.3s ease;
}

button:hover {
  background: linear-gradient(to right, #f4a261, #e76f51);
  transform: scale(1.05);
}

.option {
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  background-color: #2e2e3e;
  color: #f4f4f4;
  margin: 5px;
}

.option.selected {
  border: 2px solid #f4a261;
  background-color: #e76f51;
  color: white;
}

.option:hover {
  transform: scale(1.1);
}

#feedback {
  margin-top: 10px;
  font-weight: bold;
  color: #f4a261;
}

#next-btn {
  padding: 12px 24px;
  font-size: 1.1rem;
  background-color: #e76f51;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: none;
  margin-top: 15px;
  border: none;
  transition: all 0.3s ease;
}

#next-btn:hover {
  background-color: #f4a261;
  transform: scale(1.05);
}
#victory-message {
  display: none; /* Oculto al principio */
  text-align: center;
  margin-top: 20px;
}

#victory-message p {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

#samurai-gif {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
